osmium==2.15.0
pandas==0.23.4
branca==0.2.0
six==1.11.0
idna==2.6
certifi==2017.7.27.1
selenium==3.6.0
pytz==2017.2
numpy==1.15.3
chardet==3.0.4
pillow==4.3.0
folium==0.5.0
olefile==0.44
jinja2==2.9.6
shapely==1.6.4.post2
urllib3==1.23
python-dateutil==2.6.1
markupsafe==1.0
imageio==2.2.0
requests==2.20.0
