osmium==2.15.0
pandas==0.23.4
branca==0.3.0
six==1.11.0
idna==2.6
certifi==2017.7.27.1
selenium==3.6.0
pytz==2017.2
numpy==1.15.3
chardet==3.0.4
pillow==7.1.1
folium==0.6.0
olefile==0.44
jinja2==2.11.3
shapely==1.6.4.post2
python-dateutil==2.6.1
markupsafe==1.0
imageio==2.2.0
